@font-face {
  font-family: "Helvetica Bold";
  src: url("Helvetica-Bold.woff2") format("woff2"),
    url("Helvetica-Bold.woff") format("woff"),
    url("Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Single Day", cursive;
  overflow-x: hidden;
}

body.fixed {
  overflow: hidden;
}

section.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 4308;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  transition: opacity 0.3s ease;
}

section.popup.hide {
  opacity: 0;
  pointer-events: none;
}

section.popup.remove {
  display: none;
}

section.token {
  margin-top: 100px;
}

section.popup p {
  font-size: 24px;
  max-width: 300px;
  line-height: 1.1;
  text-align: center;
}

section.popup button {
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 6px;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  width: 300px;
}

section.popup button:hover {
  opacity: 0.8;
}

a.logo {
  font-family: "Helvetica Bold";
  font-size: 20px;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}

section.popup span.logo {
  font-size: 32px;
  margin-bottom: 60px;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 666;
  top: 0;
  left: 0;
}

div.header > * {
  width: 33.333%;
}

img.cart {
  height: 28px;
}

div.header div.other {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

div.header div.other a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-top: 6px;
  font-size: 16px;
}

div.dropdown-content {
  display: none;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
}

div.dropdown-content.show {
  display: flex;
}

.dropdown-content ul li.header {
  list-style: none;
}

div.menu {
  display: flex;
  column-gap: 20px;
}

div.menu div.dropdown {
  display: flex;
  align-items: center;
}

span.show-dropdown {
  text-transform: uppercase;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}

div.dropdown-content {
  position: fixed;
  top: 59px;
  left: 0;
  background-color: #fff;
  padding: 12px 20px;
  border-bottom: 1px solid;
  width: 100%;
}

div.dropdown-content p {
  margin-bottom: 0;
  max-width: 100%;
  width: 512px;
}

div.dropdown-content ul {
  margin-bottom: 0;
}

div.dropdown-content {
  flex-wrap: wrap;
}

section.hero {
  margin-top: 55px;
  height: 90vh;
  width: 100%;
}

section.hero video {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

section.spacer {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 40px;
}

div.items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1px);
}

div.items a.single-item {
  max-width: calc((100% / 3));
  display: flex;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0px 60px;
  flex-direction: column;
  row-gap: 20px;
  color: #000;
  text-decoration: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators [data-bs-target] {
  filter: invert(1);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 24px;
  height: 24px;
}

.carousel-indicators [data-bs-target] {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.carousel-item img {
  width: 100%;
  margin: auto;
}

.carousel-indicators {
  margin-bottom: 0;
}

div.items a.single-item div.meta-wrapper {
  position: relative;
}

div.items a.single-item div.meta {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  transition: all 0.3s;
}

div.items a.single-item div.sizes {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

div.items a.single-item div.sizes ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 20px;
}

div.items a.single-item div.sizes li.outofstock {
  text-decoration: line-through;
  opacity: 0.6;
}

div.items a.single-item div.meta h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

div.items a.single-item div.meta span {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

div.items a.single-item:hover div.meta {
  opacity: 0;
}

div.items a.single-item:hover div.sizes {
  opacity: 1;
}

section.footer {
  background-color: #a5a5a5;
}

div.footer {
  display: flex;
  flex-wrap: wrap;
}

div.footer div.footer-col {
  padding: 20px 20px 100px;
  width: calc(100% / 4);
  border-right: 1px solid #000;
}

div.footer div.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.footer div.footer-col ul li.header {
  text-transform: uppercase;
  font-size: 20px;
}

div.footer div.footer-col ul li {
  font-size: 16px;
}

div.footer div.footer-col ul li a {
  color: #000;
  text-decoration: none;
}

div.footer div.footer-col.hidden ul li a {
  opacity: 0.3;
  pointer-events: none;
}

p.tag {
  text-align: center;
  padding: 12px 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0;
}

/* token */
h3.you-may {
  width: 100%;
  padding: 12px 20px;
  font-size: 24px;
}

div.token-info {
  min-height: 70vh;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p.oops {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

p.how-to-buy {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

#timer {
  margin: auto;
  display: block;
  text-align: center;
}

.timer p {
  margin-bottom: 0;
  font-size: 24px;
}

.timer span {
  font-size: 32px;
}

a.buy-token {
  height: 50px;
  width: 300px;
  font-size: 24px;
  text-align: center;
  background: #000;
  margin: 20px 0 60px;
  border-radius: 6px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}

a.buy-token:hover {
  scale: 0.95;
  opacity: 0.6;
}

a.buy-token.muted {
  opacity: 0.6;
  position: relative;
}

a.buy-token.muted:hover {
  scale: 1;
}

a.buy-token.muted:hover::after {
  content: "currently unavailable";
  position: absolute;
  bottom: -40px;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

div.mobile-menu {
  display: none;
  column-gap: 12px;
}

div.mobile-menu a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  div.header > * {
    width: unset;
  }
  div.menu {
    display: none;
  }
  div.header div.other a {
    display: none;
  }
  div.header div.other a:last-child {
    display: block;
  }

  section.hero video,
  section.hero {
    height: 70vh;
  }
  div.items a.single-item {
    max-width: 100%;
  }

  div.footer div.footer-col {
    width: 100%;
  }

  div.footer div.footer-col {
    padding-bottom: 40px;
    border-bottom: 1px solid;
    margin-bottom: -1px;
    border-right: 0;
  }

  div.mobile-menu {
    display: flex;
  }

  div.header div.other {
    width: 34px;
  }
}
